<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/searchbar.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>thefurnituregallery</h1>
      <div class="header-right">
        <a href="/">Home</a>
      </div>
    </header>
    <div id="se_container">
      <h3 class="searchmessage">ENTER A WORD TO SEARCH OUR PRODUCT</h3>
      <br /><br />
      <form action="" class="search_bar">
        <input type="text" placeholder="SEARCH..." name="q" id="input" />
        <button type="submit" class="press">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <script src="/js/searchbar.js"></script>
  </body>
</html>
